doctype html
html
    head
        link(rel="icon", href="/images/check_16x16.ico")
        title To-do app
        link(rel='stylesheet' href='/stylesheets/todo.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
        script(defer src="/javascript/todos.js") 

    body(style="background-color:#313246;")
        
        div(style={"display":"flex",  "justify-content":"center", "width":"100%"})
            div.myLists 
                h1 Mis listas
                button(class="openModalList-btn" onclick="toggleModal(0)")
                        span AGREGAR
                        img(src="/images/circle-plus-solid.svg" )
                if admin !== null
                    button(class="openModalList-btn" onclick="toggleModal(1)")
                        span Nueva categoria
                        img(src="/images/circle-plus-solid.svg" )
                each list in LISTS 
                        a(href=`/list/${list.id}`)=`(${list.Category.cat}) -> ${list.title}`
            div.modal-off
                div.backOpacity
                div(class="newTaskForm newListForm")
                    button(class="close-btn" onclick="toggleModal(0)") X
                    form(action="/list/add" method="POST" class="myForm")
                        div.modalTitle 
                            h3 Nueva lista
                        div(class="newItemContainer")
                            div(class="newItemDiv" style="margin-left: 5px;margin-right: 2.5px;")
                                input(class="" placeholder="Título"  name="newList" id="titleList" required="required")
                                button(class="material-symbols-outlined" onclick="return clearTitleList()" ) clear
                        
                        div
                            div.prioritiesContainer 
                                span Estado
                                div.prioritiesDiv 
                                    input(type="radio" name="state-list" value="Sin resolver" id="option-list-s-1" checked)
                                    label(for="option-list-s-1" class="option option-1") 
                                        div.priorities 
                                            span Sin resolver 
                                    input(type="radio" name="state-list" value="Resuelta" id="option-list-s-2")
                                    label(for="option-list-s-2" class="option option-2") 
                                        div.priorities 
                                            span Resuelta
                        div  
                            div 
                                select(id="category")
                                    each cat in CATEGORIES 
                                        option(value=cat.id)=cat.cat 
                        div.prioritiesContainer
                            div.prioritiesDiv
                                button(class="add-btn" onclick="return addList()") Agregar
            if admin !== null 
                div.modal-off
                    div.backOpacity
                    div(class="newTaskForm newListForm")
                        button(class="close-btn" onclick="toggleModal(1)") X
                        div(class="myForm")
                            div.modalTitle 
                                h3 Nueva categoría
                            div(class="newItemContainer newCategoyDiv")
                                div(class="newItemDiv" style="margin-left: 5px;margin-right: 2.5px;")
                                    input(class="" placeholder="Título"  name="newCategory" id="titleCategory" required="required" onclick="clearCategoryError()")
                                    button(class="material-symbols-outlined" onclick="return clearTitleCategory()" ) clear
                                span(class="category-error") Esta categoría ya existe
                                button(class="add-btn" onclick="return addCategory()") Agregar 
            div(class="myContainer" style="background-color:white")
                .container
                    div.header
                        h1( class="text-center") To-do list de #{userName}
                        button(onclick="logout()" style={"padding":"5px", "color":"white", "background": "#0d1117", "border":"none", "border-radius":"5px"}) Cerrar sesión
                    button(class="openModal-btn" onclick=`toggleModal(${admin !== null ? 2 : 1})`)
                        span AGREGAR
                        img(src="/images/circle-plus-solid.svg" )
                    div.orderBy 
                        span Ordenar por: 
                        div()
                            div(id="optionsParent")
                                //input(type="checkbox" name="priority" id="priority" class="orderOption" )
                                label(for="priority" id="priority" class=`opPriority ${selected !==null && selected.priority !== undefined ? "opSelected": ""}`) Prioridad 
                                //input(type="checkbox" name="creationDate" id="creationDate" class="orderOption" )
                                label(for="creationDate" id="creationDate" class=`opCreationDate ${selected !==null && selected.creationDate !== undefined ? "opSelected": ""}`) Fecha de creacion
                                //input(type="checkbox" name="deadline" id="deadline" class="orderOption")
                                label(for="deadline" id="deadline" class=`opDeadline ${selected !==null && selected.deadline !== undefined ? "opSelected": ""}`) Fecha límite
                            div.direc
                                if selected !== null && selected.ASC 
                                    input(type="radio" name="direc" id="ASC" value="ASC" class="orderRadio" checked)
                                    label(for="ASC" class=`asc` name="direc") Ascendente
                                    input(type="radio" name="direc" id="DESC" value="DESC" class="orderRadio")
                                    label(for="DESC" class=`desc` name="direc") Descendente
                                else 
                                    input(type="radio" name="direc" id="ASC" value="ASC" class="orderRadio")
                                    label(for="ASC" class=`asc ` name="direc") Ascendente
                                    input(type="radio" name="direc" id="DESC" value="DESC" class="orderRadio" checked)
                                    label(for="DESC" class=`desc` name="direc") Descendente
                            button(onclick="cleanOrder();" style={"padding":"2px 5px", "color":"white", "background": "#0069d9", "border":"none", "border-radius":"5px"}) X
                            button(onclick="setOrder();" style={"padding":"2px", "color":"white", "background": "#0069d9", "border":"none", "border-radius":"5px"}) Ordenar
                        ul(class="list" id=ulTodo)
                            each task in TASKS         
                                nav(class=`list-nav ${task.state}` id=task.id)
                                
                                    li.list-item
                                        span=task.title
                                        p=`Detalle: ${task.descrip}`
                                        case task.priority
                                            when 1
                                                p Prioridad: baja
                                            when 2
                                                p Prioridad: media
                                            when 3
                                                p Prioridad: alta
                                        p=`Estado: ${task.state}`
                                        if task.deadline !== null
                                            p=`Fecha límite: ${task.deadline}`
                                        if task.state == "Resuelta"
                                            p=`Resuelta: ${task.resolutionDate}`
                                        if task.id_list
                                            p=`Lista: ${task.List.title}`
                                    //-button(class="btn-close")
                                    div.buttons
                                        if task.state !== "Resuelta"
                                            //button(id="unresolve-btn" value=task.id class="" onclick=`return markAsUnresolve(${task.id})`) Sin resolver
                                            if task.state === "Resolviendo"
                                                button(id="resolve-btn" value=task.id class="" onclick=`return markAsUnresolve(${task.id})`) Sin resolver
                                            else
                                                button(id="resolve-btn" value=task.id class="" onclick=`return markAsResolving(${task.id})`) Resolviendo
                                            button(id="resolve-btn" value=task.id class="" onclick=`return markAsResolve(${task.id})`) Resolver
                                        else
                                        button(id="delete-btn" value=task.id class="btn btn-danger" onclick=`return deleteTask(${task.id})`) Borrar
            div.modal-off
                div.backOpacity
                div(class="newTaskForm")
                    button(class="close-btn" onclick=`toggleModal(${admin !== null ? 2 : 1})`) X
                    div(class="myForm")
                        div.modalTitle
                            h3 Nuevo item
                        div(class="newItemContainer")
                            div(class="newItemDiv" style="margin-left: 5px;margin-right: 2.5px;")
                                input(class="" placeholder="Título"  name="newTask" id="title" required="required")
                                button(class="material-symbols-outlined" onclick="return clearTitle()" ) clear
                        div(class="newItemContainer")
                            div(class="newItemDiv" style="margin-left: 5px;margin-right: 2.5px;")
                                input(class="" placeholder="Descripción"  name="newTask" id="descrip" required="required")
                                button(class="material-symbols-outlined" onclick="return clearDescrip()" ) clear
                        div
                            div.prioritiesContainer 
                                span Prioridad
                                div.prioritiesDiv 
                                    input(type="radio" name="priority" value="1" id="option-p-1")
                                    label(for="option-p-1" class="option option-1") 
                                        div.priorities 
                                            span Baja 
                                    input(type="radio" name="priority" value="2" id="option-p-2" checked)
                                    label(for="option-p-2" class="option option-2") 
                                        div.priorities 
                                            span Medium
                                    input(type="radio" name="priority" value="3" id="option-p-3")
                                    label(for="option-p-3" class="option option-3") 
                                        div.priorities 
                                            span Alta
                        div
                            div.prioritiesContainer 
                                span Estado
                                div.prioritiesDiv 
                                    input(type="radio" name="state" value="Sin resolver" id="option-s-1")
                                    label(for="option-s-1" class="option option-1") 
                                        div.priorities 
                                            span Sin resolver 
                                    input(type="radio" name="state" value="Resolviendo" id="option-s-2" checked)
                                    label(for="option-s-2" class="option option-2") 
                                        div.priorities 
                                            span Resolviendo
                                    input(type="radio" name="state" value="Resuelta" id="option-s-3")
                                    label(for="option-s-3" class="option option-3") 
                                        div.priorities 
                                            span Resuelta
                        div.deadlineContainer 
                            div.prioritiesDiv
                                span Fecha limite 
                                input(type="checkbox" name="dl")
                                input(type="date" name="dldate" min=date)
                        div
                            div.prioritiesDiv
                                span Lista
                                select(class="listCheckbox")
                                    option(value="0") Ninguna 
                                    each list in LISTS 
                                        option(value=list.id)=list.title 
                        div.prioritiesContainer
                            div.prioritiesDiv
                                button(class="add-btn" onclick="return addTask();") Agregar